<form [formGroup]="createTicketForm" (ngSubmit)="submitTicket()" class="p-5">
    <p>Nom :</p>
    <input type="text" placeholder="nom" formControlName="name" class="border">
    <p>Description :</p>
    <input type="text" placeholder="description" formControlName="description" class="border">
    <p>Prix :</p>
    <input type="number" step="0.01" formControlName="price" class="border">
    <p>Quantité :</p>
    <input type="number" formControlName="quantity" class="border">
    <p>Date début validité :</p>
    <input type="date" placeholder="name" formControlName="dateBeginning" class="border">
    <p>Date fin validité :</p>
    <input type="date" placeholder="name" formControlName="dateEnd" class="border">
    @if(!createTicketForm.valid||((createTicketForm.controls.dateBeginning.value!=null && createTicketForm.controls.dateBeginning.value <=dateCompare)||
            (createTicketForm.controls.dateEnd.value!=null && createTicketForm.controls.dateEnd.value <=dateCompare))){
        <div class="flex flex-row items-center">
            <button type="submit" [disabled]="!createTicketForm.valid" class="cursor-not-allowed border rounded m-2">Créer billet</button>
            @if(createTicketForm.controls.name.value==""||createTicketForm.controls.description.value==""||
            createTicketForm.controls.price.value==null||createTicketForm.controls.quantity.value==null||
            ((createTicketForm.controls.dateBeginning.value!=null && createTicketForm.controls.dateBeginning.value <=dateCompare)||
            (createTicketForm.controls.dateEnd.value!=null && createTicketForm.controls.dateEnd.value <=dateCompare)))
            {
                <p>⚠️ Formulaire incomplet</p>
            }@else if (createTicketForm.controls.price.value<=0) {
                <p>⚠️ Prix inférieur ou égal à 0</p>
            }@else if (createTicketForm.controls.quantity.value<0) {
                <p>⚠️ Quantité inférieur à 0</p>
            }
        </div>
    }@else{
        <div class="flex flex-row items-center">
            <button type="submit" [disabled]="!createTicketForm.valid" class="border rounded m-2">Créer billet</button>
            @if((createTicketForm.controls.dateBeginning.value!=null && createTicketForm.controls.dateEnd.value!=null)&&(createTicketForm.controls.dateBeginning.value>createTicketForm.controls.dateEnd.value)){
                <p>⚠️ Date de fin inférieure à date de début</p>
            }
        </div>
    }
</form>